{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "printWidth": 120,
  "overrides": [
    {
      "files": ".*rc",
      "options": { "parser": "json" }
    }
    {
      "files": "*.md",
      "options": {
        "printWidth": 120,
        "proseWrap": "always"
      }
    }
  ]
}
