@import url('https://assets.website-files.com/5c1e6553753a40654a10796b/css/movinga-select-page.408f8f29a.css');

.section-hero {
  background-image: none;
  position: relative;
}

.section-hero > img {
  position: absolute;
  z-index: -100;
}

.flags-countries {
  height: 65px;
}

.benefits-img {
    max-width: 50%;
}

.section-general {
  background: #fff;
}

.section-banner {
  background-image: none;
  height: 178px;
  position: relative;
}

/* HACK: display only a portion of the image. ideally image would be fixed
 * and we scroll over it like movinga.com */
.section-banner > img {
  position: absolute;
  z-index: -100;
  margin-top: -700px;
}

@media (max-width: 479px) {
  .section-hero > img {
    height: 200px;
  }
  .flags-countries {
    height: 31px;
  }
  .section-banner > img {
    margin-top: -80px;
  }
}
