@import url('https://assets.website-files.com/5c1e6553753a40654a10796b/css/movinga-select-page.408f8f29a.css');

.section-hero {
  background-image: none;
  position: relative;
}

.section-hero > img {
  position: absolute;
  z-index: -100;
}

.flags-countries {
  height: 65px;
}

.section-general {
  background: #fff;
}

@media (max-width: 479px) {
  .section-hero > img {
    height: 200px;
  }
  .flags-countries {
    height: 31px;
  }
}
